@model IEnumerable<slnProducts.Models.Entity.tProduct>

@foreach (var item in Model)
{
    var imageScr = $"../../images/{item.fProductID}.jpg";

    <div class="col-lg-4">
        <div class="thumbnail">

            @*商品圖片*@
            <a href="../../ProductFront/ProductSinglePage?productId=@item.fProductID">
                <img src="@imageScr" style="width:30%" />
            </a>

            <div class="caption"></div>

            @*商品名稱*@
            <p>
                @Html.DisplayNameFor(m => m.FirstOrDefault().fProductChName)
                <a href="../../ProductFront/ProductSinglePage?productId=@item.fProductID">
                    @item.fProductChName
                </a>
            </p>

            @*商品價錢*@
            <p>@Html.DisplayNameFor(m => m.FirstOrDefault().fUnitPrice) @item.fUnitPrice</p>

            @*加入購物車按鈕*@
            @Html.ActionLink("加入購物車", "", new {prodID=item.fProductID},
          new {@class = "btn btn-info" })

        </div>
    </div>
}