@model IEnumerable<slnProducts.Models.Entity.tProduct>
@foreach (var item in Model)
{
    var imageScr = $"../../images/{item.fProductID}.jpg";

    <div class="col-lg-4">
        <div class="thumbnail">
            <img src="@imageScr" style="width:30%" />
            <div class="caption"></div>
            <p>
                @Html.DisplayNameFor(m => m.FirstOrDefault().fProductChName)

                <a href="../../ProductFront/ProductSinglePage?productId=@item.fProductID">
                    @item.fProductChName
                </a>

            </p>
            <p>@Html.DisplayNameFor(m => m.FirstOrDefault().fUnitPrice) @item.fUnitPrice</p>

            @Html.ActionLink("加入購物車", "", new {prodID=item.fProductID},
          new {@class = "btn btn-info" })

        </div>
    </div>
}